<!DOCTYPE html>
<html lang="de">
<head>
{% include "partials/head.njk" %}
</head>
<body>

{% include "partials/nav.njk" %}

{{ content | safe }}

{% include "partials/footer.njk" %}

{% include "partials/modal.njk" %}

<script src="/app.js"></script>
</body>
</html>
